<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="unixstamp=${#dates.createNow().time}">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>数据修改</title>

    <link href="css/bootstrap.min.css" th:href="@{/asserts/css/bootstrap.css}" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" th:href="@{/asserts/font-awesome/css/font-awesome.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <link href="css/plugins/iCheck/custom.css" th:href="@{/asserts/css/plugins/iCheck/custom.css}" rel="stylesheet">
    <link href="css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" th:href="@{/asserts/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css}" rel="stylesheet">
    <link href="css/plugins/jqGrid/ui.jqgrid.css" th:href="@{/asserts/css/plugins/jqGrid/ui.jqgrid.css}" rel="stylesheet">
    <link  th:href="@{/asserts/css/tabella.css}" rel="stylesheet">
    <link href="css/animate.css" th:href="@{/asserts/css/animate.css}" rel="stylesheet">
    <link href="css/style.css" th:href="@{/asserts/css/style.css}" rel="stylesheet">
    <link href="css/plugins/datapicker/datepicker3.css" th:href="@{/asserts/css/plugins/datapicker/datepicker3.css}" rel="stylesheet">
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });
    </script>
    <link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" th:href="@{/asserts/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" rel="stylesheet">
    <link href="css/plugins/dataTables/datatables.min.css" th:href="@{/asserts/css/plugins/dataTables/datatables.min.css}" rel="stylesheet">
</head>

<body>

<div id="wrapper">

    <nav th:replace="layout/head::commonnav"></nav>

    <div id="page-wrapper" class="gray-bg">
        <div th:replace="layout/head::commonhead"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>基本表单</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">主页</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>表单</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>输入货物信息</small></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#" class="dropdown-item">选项 1</a>
                                    </li>
                                    <li><a href="#" class="dropdown-item">选项 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form >
                                <input type="hidden" name="_method" value="put" th:if="${order!=null}"/>
                                <input type="hidden" name="recordingid" th:if="${order!=null}" th:value="${order.orderid}">
                                <div class="form-group  row">
                                    <label class="col-sm-2 col-form-label">订单名称：</label>
                                    <div class="col-sm-10">
                                        <input name="order_name" th:value="${order!=null}?${order.orderName}"  type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>

                                <div class="row">
                                    <div class="form-group row col-md-6">
                                        <label class="col-sm-2 col-form-label">开单人：</label>
                                        <div class="col-sm-10">
                                            <input name="biller" th:value="${order!=null}?${order.biller}" type="text"  class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group row col-md-6">
                                        <label class="col-sm-2 col-form-label">时间：</label>
                                        <div class="col-sm-10">
                                            <input name="date" th:value="${order!=null}?${order.date}" type="text" id="datepicker" class="form-control" >
                                        </div>
                                    </div>

                                </div>
                                <div class="hr-line-dashed"></div>

                                <div class="row">
                                    <div class="form-group row col-md-6">
                                        <label class="col-sm-2 col-form-label">电话号码：</label>
                                        <div class="col-sm-10">
                                            <input name="tel" type="text"  class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 row">
                                        <div class="col-sm-4 col-sm-offset-2">
<!--                                            <input type="button" name="insert" class="btn btn-primary btn-sm"  value="增加记录" style="width:80px" onclick="addNewRow()" />-->
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                                                增加货物记录
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade " id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <h4 class="modal-title" id="gridSystemModalLabel">货物记录添加</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="serial_number" value="1">
                                                <div class="row form-group">
                                                    <label class="col-sm-2 col-form-label">名称:：</label>
                                                    <div class="col-sm-10">
                                                        <input name="product_name"  value="sdf" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="row">
                                                    <label class="col-sm-2 col-form-label">数量：</label>
                                                    <div class="col-sm-10">
                                                        <input name="product_number"  type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="row">
                                                    <label class="col-sm-2 col-form-label">单位：</label>
                                                    <div class="col-sm-10">
                                                        <input name="unit"  type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="row">
                                                    <label class="col-sm-2 col-form-label">单价：</label>
                                                    <div class="col-sm-10">
                                                        <input name="price"  type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="row">
                                                    <label class="col-sm-2 col-form-label">金额：</label>
                                                    <div class="col-sm-10">
                                                        <input name="amount"  type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="row">
                                                    <label class="col-sm-2 col-form-label">备注：</label>
                                                    <div class="col-sm-10">
                                                        <input name="note"  type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                <button type="button" id="submitRecording" class="btn btn-primary">保存</button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->


                                <div class="hr-line-dashed"></div>
                                <div class="ibox ">
                                    <div class="ibox-title">
                                        <h5>货物记录</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="fa fa-wrench"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                <li><a href="#" class="dropdown-item">选项 1</a>
                                                </li>
                                                <li><a href="#" class="dropdown-item">选项 2</a>
                                                </li>
                                            </ul>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">

                                        <div class="table-responsive">
                                            <table id="example" class="table table-striped table-bordered table-hover dataTables-example" >
                                                <thead>
                                                <tr>
                                                    <th>序列号</th>
                                                    <th>货物名称</th>
                                                    <th>数量</th>
                                                    <th>单位</th>
                                                    <th>价格</th>
                                                    <th>金额</th>
                                                    <th>备注</th>
                                                    <th>操作</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tableTbody">

                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th>序列号</th>
                                                    <th>货物名称</th>
                                                    <th>数量</th>
                                                    <th>单位</th>
                                                    <th>价格</th>
                                                    <th>金额</th>
                                                    <th>备注</th>
                                                    <th>操作</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="row">
                                    <div class="row col-md-4">
                                        <label class="col-sm-2 col-md-6 col-form-label">过去欠款：</label>
                                    </div>
                                    <div class="form-group row col-md-4">
                                        <label class="col-sm-2 col-md-6 col-form-label">本单总计：</label>
                                        <div class="col-sm-10 col-md-6 input-group">
                                            <input name="number" type="text"  class="form-control" >
                                            <div class="input-group-append">
                                                <button id="MenuSumbit" class="btn btn-outline-secondary" type="button">核算</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row col-md-4">
                                        <label class="col-sm-2 col-md-6 col-form-label">总合计：</label>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group row">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-white btn-sm" type="reset">取消</button>
                                        <button onclick="save()" type="button" class="btn btn-primary btn-sm" >保存更改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="float-right">
                    <strong>2.9.2 inspinia</strong>
                </div>
                <div>
                    <strong>Copyright</strong> inspinia 2.9.2 &copy; 2014-2018
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Mainly scripts -->
<script src="js/jquery-3.1.1.min.js" th:src="@{/asserts/js/jquery-3.1.1.min.js}"></script>
<script src="js/popper.min.js" th:src="@{/asserts/js/popper.min.js}"></script>
<script src="js/bootstrap.js" th:src="@{/asserts/js/bootstrap.js}"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/asserts/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js" th:src="@{/asserts/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<!-- Data picker -->
<script src="js/plugins/datapicker/bootstrap-datepicker.js" th:src="@{/asserts/js/plugins/datapicker/bootstrap-datepicker.js}"></script>

<!-- Date range use moment.js same as full calendar plugin -->
<script src="js/plugins/fullcalendar/moment.min.js"  th:src="@{/asserts/js/plugins/fullcalendar/moment.min.js}"></script>
<!-- Date range picker -->
<script src="js/plugins/daterangepicker/daterangepicker.js" th:src="@{/asserts/js/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Custom and plugin javascript -->
<script src="js/inspinia.js" th:src="@{/asserts/js/inspinia.js}"></script>
<script src="js/plugins/pace/pace.min.js" th:src="@{/asserts/js/plugins/pace/pace.min.js}"></script>


<script src="js/plugins/dataTables/datatables.min.js" th:src="@{/asserts/js/plugins/dataTables/datatables.min.js}"></script>
<script src="js/plugins/dataTables/dataTables.bootstrap4.min.js" th:src="@{/asserts/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>

<!-- Peity -->
<script src="js/plugins/peity/jquery.peity.min.js" th:src="@{/asserts/js/plugins/peity/jquery.peity.min.js}"></script>
<!-- iCheck -->
<script src="js/plugins/iCheck/icheck.min.js" th:src="@{/asserts/js/plugins/iCheck/icheck.min.js}"></script>
<script>
    var table
    $(document).ready(function(){
         table=$('.dataTables-example').DataTable({
            pageLength: 10,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                    customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ],
            language: {
                "decimal": "",//小数的小数位符号  比如“，”作为数字的小数位符号
                "emptyTable": "没有数据哟~~",//没有数据时要显示的字符串
                "info": "当前 _START_ 条到 _END_ 条 共 _TOTAL_ 条",//左下角的信息，变量可以自定义，到官网详细查看
                "infoEmpty": "无记录",//当没有数据时，左下角的信息
                "infoFiltered": "(从 _MAX_ 条记录过滤)",//当表格过滤的时候，将此字符串附加到主要信息
                "infoPostFix": "",//在摘要信息后继续追加的字符串
                "thousands": ",",//千分位分隔符
                "lengthMenu": "每页 _MENU_ 条记录",//用来描述分页长度选项的字符串
                "loadingRecords": "加载中...",//用来描述数据在加载中等待的提示字符串 - 当异步读取数据的时候显示
                "processing": "处理中...",//用来描述加载进度的字符串
                "search": "搜索",//用来描述搜索输入框的字符串
                "zeroRecords": "没有找到",//当没有搜索到结果时，显示
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "尾页"
                }
            },
             destroy: true,
             paging: true,//是否分页
            pagingType: "full_numbers",//除首页、上一页、下一页、末页四个按钮还有页数按钮
            searching: true,//是否开始本地搜索
            stateSave: false,//刷新时是否保存状态
            autoWidth: true,//自动计算宽度
            deferRender: true,//延迟渲染

            //     {
            //     "targets": 6,
            //     "orderable": false,
            //     "data": "edit",
            //     "defaultContent": "",
            //     "render": function(data,type,row,meta){
            //         return data='<button id=\'edit\' href="http://localhost:8080/Recordings/1">删除</button>';
            //     }
            // } ],
        });
        // $('#example tbody').on( 'click', 'button', function () {
        //     var data = table.row( $(this).parents('tr') ).data();
        //     if()
        //     // alert( "是否修改货物id为："+data[0]+data[5] );
        // } );
    });

</script>

<script th:inline="none">
    var order;
    var mydata={};
    mydata.order={};
    products=[[]];
    var serial_number=1;
    var product_name="";
    var number="";
    var unit="";
    var price="";
    var amount="";
    var note="";
    function getArrayJson(arra){
        var temp={};
        temp={
            "serial_number":arra[0],
        }
    }
    function save() {
        mydata.order={
            "order_name":$("input[name='order_name']").val(),
            "biller":$("input[name='biller']").val(),
            "tel":$("input[name='tel']").val(),
            "date":$("input[name='date']").val(),
        }
        var json=[];
        products.forEach(function(item){
            var temp={};
            temp={
                "serial_number":item[0],
                "product_name":item[1],
                "number":item[2],
                "unit":item[3],
                "price":item[4],
                "amount":item[5],
                "note":item[6],
            }
            json.push(temp);
        })
        mydata.products=json;
        $.ajax({
            url:"http://192.168.0.30:8080/Order",
            type:"post",
            dataType : "json",
            data: JSON.stringify(mydata),
            contentType:"application/json;charset=utf-8",   //缺失会出现URL编码，无法转成json对象
            success: function () {
                console.log("succsee")
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                },
            complete: function(response) {
                location.href = "http://192.168.0.30:8080/main"
                console.log( response.responseText); //Want to view response in test.php
            }
         })

    }


    //清空数据
    function empty() {
        $('.modal-body input').val('');
        //radio默认是第一个
    }
    var mem = $('#data_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });

    $("#submitRecording").on('click',function () {
        product_name = $("input[name='product_name']").val();
        number = $("input[name='product_number']").val();
        unit = $("input[name='unit']").val();
        price = $("input[name='price']").val();
        amount = $("input[name='amount']").val();
        note = $("input[name='note']").val();
        products[serial_number-1]=[serial_number,product_name,number,unit,price,amount,note," <a class=\"btn btn-sm btn-primary\" >编辑</a>  <a class=\"btn btn-sm btn-primary\" >删除</a>"];

        // addNewRow();
        initDetailTableData(products)
        serial_number++
        empty()
    })

    function initDetailTableData(dataArr) { //dataArr是表格数据数组，和初始化配置需一样的结构
        var table = $('#example').dataTable();
        var oSettings = table.fnSettings(); //这里获取表格的配置
        table.fnClearTable(this); //动态刷新关键部分语句，先清空数据
        for (var i= dataArr.length-1, l = 0; i >=l; i--) {
            table.oApi._fnAddData(oSettings, dataArr[i]); //这里添加一行数据
        }
        oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
        table.fnDraw();//绘制表格

    }

    //关闭弹层
    $(document).on('click','.modal .close',function () {
        $(this).parents('.modal').hide(200);
    });

</script>

</body>

</html>
