<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="css/bootstrap.min.css" th:href="@{/asserts/css/bootstrap.css}" rel="stylesheet">
    <link  th:href="@{/asserts/css/dataTables/buttons.dataTables.min.css}">
    <link  th:href="@{/asserts/css/dataTables/editor.dataTables.min.css}">
    <link  th:href="@{/asserts/css/dataTables/jquery.dataTables.min.css}">
    <link  th:href="@{/asserts/css/dataTables/select.dataTables.min.css}">

</head>

<body>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th></th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Start date</th>
        <th>Salary</th>
    </tr>
    </thead>
</table>
<script  th:src="@{/asserts/css/dataTables/jquery-3.3.1.js}"></script>

<script src="js/bootstrap.js" th:src="@{/asserts/js/bootstrap.js}"></script>

<script  th:src="@{/asserts/css/dataTables/jquery.dataTables.min.js}"></script>
<script  th:src="@{/asserts/css/dataTables/dataTables.buttons.min.js}"></script>
<script  th:src="@{/asserts/css/dataTables/dataTables.select.min.js}"></script>
<script  th:src="@{/asserts/css/dataTables/dataTables.editor.min.js}"></script>



<script>
    var editor; // use a global for the submit and return data rendering in the examples

    $(document).ready(function() {
        editor = new $.fn.dataTable.Editor( {

            table: "#example",
            fields: [ {
                label: "First name:",
                name: "first_name"
            }, {
                label: "Last name:",
                name: "last_name"
            }, {
                label: "Position:",
                name: "position"
            }, {
                label: "Office:",
                name: "office"
            }, {
                label: "Extension:",
                name: "extn"
            }, {
                label: "Start date:",
                name: "start_date",
                type: "datetime"
            }, {
                label: "Salary:",
                name: "salary"
            }
            ]
        } );

        // Activate an inline edit on click of a table cell
        $('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
            editor.inline( this, {
                buttons: { label: '&gt;', fn: function () { this.submit(); } }
            } );
        } );

        $('#example').DataTable( {
            dom: "Bfrtip",
            columns: [
                {
                    data: null,
                    defaultContent: '',
                    className: 'select-checkbox',
                    orderable: false
                },
                { data: "first_name" },
                { data: "last_name" },
                { data: "position" },
                { data: "office" },
                { data: "start_date" },
                { data: "salary", render: $.fn.dataTable.render.number( ',', '.', 0, '$' ) }
            ],
            order: [ 1, 'asc' ],
            select: {
                style:    'os',
                selector: 'td:first-child'
            },
            buttons: [
                { extend: "create", editor: editor },
                { extend: "edit",   editor: editor },
                { extend: "remove", editor: editor }
            ]
        } );
    } );
</script>

</body>

</html>